<main>
  <h1> Students </h1>
  <% @students.each do |student| %>
    <article id="student-<%= student.id %>">
      <p> <%= student.name %>: <%= student.number_of_professors %> </p>
    </article>
  <% end %>
</main>
